@import "./base.css";
@import url("@/assets/style/modals.scss");
@import url("@/assets/style/fields.scss");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    width: 100%;
    max-width: 1920px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    height: 136px;

    @media screen and (max-width: 1367px) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @media screen and (max-width: 730px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media screen and (max-width: 401px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.note-wrapper {
    max-width: 506.67px;
    width: 100%;
    min-width: 388.67px;
    max-height: 480px;
    background-color: var(--green-light);
    border-radius: 20px;
    position: relative;
    box-shadow: var(--shadow);

    @media (max-width: 1366px) {
        max-width: 600px;
    }

    @media (max-width: 957px) {
        max-width: 100%;
    }
}
