@import "./base.css";
@import url("@/assets/style/modals.scss");
@import url("@/assets/style/fields.scss");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    height: 136px;
}
