h2 {
    font-size: var(--heading-h2-size);
    font-weight: var(--heading-h2-weight);
    color: var(--white);
    margin-bottom: 40px;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .sign-in {
        display: flex;
        gap: 4px;

        button {
            background: transparent;
            border: 0;
            font-size: var(--text-small-size);
            font-weight: var(--text-small-bold-weight);
            color: var(--green-light);
            cursor: pointer;
            transition: color 0.1s linear;

            &:hover {
                color: var(--green-middle);
            }

            &:active {
                color: var(--green-dark);
            }

            &:disabled {
                color: var(--gray);
            }
        }
    }
}

.error {
    color: #ff7461;
    padding-left: 20px;
    padding-right: 20px;
}
