.modal-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--dark-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 40px;
    animation: appearanceBackgroundModal 0.2s 1;

    @keyframes appearanceBackgroundModal {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .modal {
        position: relative;
        background-color: var(--dark-middle);
        border-radius: 40px;
        padding: 80px;
        max-width: calc(780px + 80px);
        width: 100%;
        animation: appearanceModal 0.4s 1;
        display: flex;
        flex-direction: column;
        font-size: var(--text-small-size);
        font-weight: var(--text-small-weight);
        color: var(--gray);

        @keyframes appearanceModal {
            from {
                transform: translateY(50px);
                opacity: 0;
                /*scale: 0;*/
            }
            to {
                transform: translateX(0);
                opacity: 1;
                /*scale: 1;*/
            }
        }

        .close-btn {
            position: absolute;
            padding: 24px 24px;
            top: 20px;
            right: 20px;
        }

        h2 {
            font-size: var(--heading-h2-size);
            font-weight: var(--heading-h2-weight);
            color: var(--white);
            margin-bottom: 40px;
        }

        .inputs-box {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

    .sign-in {
        display: flex;
        gap: 4px;

        button {
            background: transparent;
            border: 0;
            font-size: var(--text-small-size);
            font-weight: var(--text-small-bold-weight);
            color: var(--green-light);
            cursor: pointer;
            transition: color 0.1s linear;

            &:hover {
                color: var(--green-middle);
            }

            &:active {
                color: var(--green-dark);
            }

            &:disabled {
                color: var(--gray);
            }
        }
    }
}

.error {
    color: #ff7461;
    padding-left: 20px;
    padding-right: 20px;
}

.inactive {
    display: none;
}
